* {
    margin: 10px 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #414141;
    width: 900px;
    margin: 10px auto;
  }

h1 {
    background-color: #EEEEEE;
    padding: 10px;
}

.tasks_container {
    display: flex;
    flex-flow: column;
    align-items: left;
}

.button_container {
    display: flex;
}

.button, input[type=submit] {
    color: #FFF;
    width: 10%;
    background-color: #5995DA;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #5D6063;
    border-radius: 2px;
    margin: 10px;
}

.bottom_button {
    width: 20%;
}

.content {
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.task, form {
    width: 100%;
    border: 1px solid gray;
    font-size: 18px;
    background-color: #EEEEEE;
}

p, h1, h2, label {
    margin: 10px;
}

.error {
    color: red;
}

.message {
    color: green;
}