{% extends "base.html" %}
{% block title %}Add new task{% endblock title%}
{% block subtitle %}Add new task{% endblock subtitle%}
{% block content %}
    {% for field in form if field != csrf_token %}
        {% for error in field.errors %}
            <div class="error_msg">{{ error }}</div>
        {% endfor %}
    {% endfor %}
    <form method="POST" action="/tasks/new">
        {{ form.csrf_token }}
        <div>
            {{ form.task.label }} {{ form.task(size=40) }}
            <input type="submit" value="Add">
        </div>
    </form>

<a class="button" href="{{ url_for('show_all_tasks') }}">All tasks</a>

{% endblock content%} 