{% extends "base.html" %}
{% block title %}All tasks{% endblock title%}
{% block subtitle %}All tasks{% endblock subtitle%}
{% block content %}
{% if tasks %}
  <table border="1">
    <tr>
      <th>Task</th><th>Status</th><th></th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td>{{ task[0] }}</td><td>{{ task[1] }}</td><td><a href="{{ url_for('update_status', task_name=task[0]) }}">Update status</a></td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <h1> There's no tasks in the list </h1>
{% endif %}

    <a href="{{ url_for('add_new_task') }}">Add new task</a>
{% endblock content%}