{% extends "base.html" %}
{% block title %}All tasks{% endblock title%}
{% block subtitle %}All tasks{% endblock subtitle%}
{% block content %}
{% if tasks %}
    <div class="tasks_container">
    {% for task in tasks %}
        {% set task_name, task_status = task %}
        <div class="task">
            <p>Task: {{ task_name }}</p>
            <hr/>
            <p>Status: {{ task_status }}</p>
            <div class="button_container">
                <a class="button"
                    href="{{ url_for('update_status', task_name=task_name) }}">Edit</a>
                <a class="button"
                    href="{{ url_for('delete_task', task_name=task_name) }}">Delete</a>
            </div>
        </div>

    {% endfor %}
{% else %}
    <h3> There are currently no tasks </h3>
{% endif %}
        <a class="button bottom_button" 
            href="{{ url_for('add_new_task') }}">Add new task</a>
    </div>
{% endblock content%}