<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>
      {% block title %}{% endblock title%} - Simple TODO application
  </title>
  <meta charset="UTF-8"/>
  <!-- Add timestamp to styles.css URL to get rid of styles caching -->
  <link rel="stylesheet" type= "text/css" 
      href="{{ url_for('static', filename='styles.css', t=timestamp()) }}"/>
  {% endblock head%}
</head>

<body>
    <h1>{% block header %}Simple ToDo app{% endblock header%}</h1>

    <h2>{% block subtitle %}{% endblock subtitle%}</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        <div class="message">
        {% if messages %}
            {% for category, message in messages %}
                <!-- `category` possible values: 'message', 'error' -->
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        </div>
    {% endwith %}

    <div class="content">
        {% block content %}{% endblock content%}
    </div>
</body>
</html>
