<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>
      {% block title %}{% endblock title%} - Simple TODO application
  </title>
  <meta charset="UTF-8"/>
  <!-- Add timestamp to styles.css URL to get rid of styles caching -->
  <link rel="stylesheet" type= "text/css" 
      href="{{ url_for('static', filename='styles.css', t=timestamp()) }}"/>
  {% endblock head%}
</head>

<body>
    <div class="header">Header
        <h2>{% block header %}Simple TODO application{% endblock header%}</h2>
    </div>

    <h3>{% block subtitle %}{% endblock subtitle%}</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="info_msg">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="content">Content
        
            {% block content %}{% endblock content%}
        </div>

    </div>

    <div class="footer">Footer
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock footer%}
    </div>
</body>
</html>
