{% extends "base.html" %}
{% block title %}Update task status{% endblock title%}
{% block subtitle %}Update task status{% endblock subtitle%}
{% block content %}
    <div>
        <form method="POST" action="{{ url_for('update_status', task_name=task_name) }}">
        {{ form.csrf_token }}
        {{ form.status.label }} {{ form.status }}
        <input type="submit" value="Update">
    </div>

    <a class="button bottom_button" 
        href="{{ url_for('show_all_tasks') }}">All tasks</a>
{% endblock content%}